<h1>Habitacion 3</h1>
<div class = "text-center">
    Cual es la fecha de nacimiento del docente Leonardo Kristal?
</div>
<img src="https://yt3.ggpht.com/ytc/AKedOLTjL9LC3F0pVLzqX9ounavnJ49bMQsimp3uHG_8UQ=s900-c-k-c0x00ffffff-no-rj" class="img-fluid" width="50%" alt="...">

<div class="container mt-4">
    <form action='@Url.Action("Habitacion","Home")' method="POST">
        <input type="hidden" name="Sala" value=3>
        <input type="date" class="form-control mb-2" name="Clave" placeholder="Ingrese la clave">
        <input type="submit"  class="btn btn-primary mb-2" value="Resolver"> 
    </form>
    @{
        if (ViewBag.MensajeError!=null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.MensajeError
            </div>
        }
    }
</div>

